## Data Cleaning

### Olympic athletes

In [842]:
# Aggregate the data into one Data Frame 
import numpy as np
import pandas as pd

olympic_athletes = pd.read_csv('olympic_athletes.csv')
olympic_hosts = pd.read_csv('olympic_hosts.csv')
olympic_medals = pd.read_csv('olympic_medals.csv')

In [843]:
olympic_athletes_df = pd.DataFrame(olympic_athletes)
olympic_hosts_df = pd.DataFrame(olympic_hosts)
olympic_medals_df = pd.DataFrame(olympic_medals)

In [844]:
olympic_athletes_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 75904 entries, 0 to 75903
Data columns (total 7 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   athlete_url           75904 non-null  object
 1   athlete_full_name     75904 non-null  object
 2   games_participations  75904 non-null  int64
 3   first_game            75882 non-null  object
 4   athlete_year_birth    73448 non-null  float64
 5   athlete_medals        15352 non-null  object
 6   bio                   22842 non-null  object
dtypes: float64(1), int64(1), object(5)
memory usage: 4.1+ MB

In [845]:
olympic_athletes_df = olympic_athletes_df.drop(columns=['bio', 'athlete_medals'])

In [846]:
olympic_athletes_df.isna().sum()

athlete_url                0
athlete_full_name          0
games_participations       0
first_game                22
athlete_year_birth      2456
dtype: int64

In [847]:
olympic_athletes_df.dropna(inplace=True)

In [848]:
olympic_athletes_df

,athlete_url,athlete_full_name,games_participations,first_game,athlete_year_birth
0,https://olympics.com/en/athletes/cooper-woods-...,Cooper WOODS-TOPALOVIC,1,Beijing 2022,2000.0
1,https://olympics.com/en/athletes/elofsson,Felix ELOFSSON,2,PyeongChang 2018,1995.0
2,https://olympics.com/en/athletes/dylan-walczyk,Dylan WALCZYK,1,Beijing 2022,1993.0
3,https://olympics.com/en/athletes/olli-penttala,Olli PENTTALA,1,Beijing 2022,1995.0
4,https://olympics.com/en/athletes/reikherd,Dmitriy REIKHERD,1,Beijing 2022,1989.0
...,...,...,...,...,...
75899,https://olympics.com/en/athletes/douglas-weigle,Douglas WEIGLE,1,Innsbruck 1976,1955.0
75900,https://olympics.com/en/athletes/stefania-bertele,Stefania BERTELE,1,Innsbruck 1976,1957.0
75901,https://olympics.com/en/athletes/walter-cecconi,Walter CECCONI,1,Innsbruck 1976,1957.0
75902,https://olympics.com/en/athletes/susan-kelley,Susan KELLEY,1,Innsbruck 1976,1954.0
75903,https://olympics.com/en/athletes/andrew-stroukoff,Andrew STROUKOFF,1,Innsbruck 1976,1960.0

In [849]:
olympic_athletes_df['athlete_full_name'] = olympic_athletes_df['athlete_full_name'].apply(lambda x:x.lower())
olympic_athletes_df['athlete_full_name'] = olympic_athletes_df.athlete_full_name.str.title()

In [850]:
olympic_athletes_df=olympic_athletes_df.astype({'athlete_year_birth': 'int32'})

In [851]:
olympic_athletes_df

,athlete_url,athlete_full_name,games_participations,first_game,athlete_year_birth
0,https://olympics.com/en/athletes/cooper-woods-...,Cooper Woods-Topalovic,1,Beijing 2022,2000
1,https://olympics.com/en/athletes/elofsson,Felix Elofsson,2,PyeongChang 2018,1995
2,https://olympics.com/en/athletes/dylan-walczyk,Dylan Walczyk,1,Beijing 2022,1993
3,https://olympics.com/en/athletes/olli-penttala,Olli Penttala,1,Beijing 2022,1995
4,https://olympics.com/en/athletes/reikherd,Dmitriy Reikherd,1,Beijing 2022,1989
...,...,...,...,...,...
75899,https://olympics.com/en/athletes/douglas-weigle,Douglas Weigle,1,Innsbruck 1976,1955
75900,https://olympics.com/en/athletes/stefania-bertele,Stefania Bertele,1,Innsbruck 1976,1957
75901,https://olympics.com/en/athletes/walter-cecconi,Walter Cecconi,1,Innsbruck 1976,1957
75902,https://olympics.com/en/athletes/susan-kelley,Susan Kelley,1,Innsbruck 1976,1954
75903,https://olympics.com/en/athletes/andrew-stroukoff,Andrew Stroukoff,1,Innsbruck 1976,1960

In [852]:
olympic_athletes_df[olympic_athletes_df.athlete_url.duplicated(keep=False)]

,athlete_url,athlete_full_name,games_participations,first_game,athlete_year_birth
1381,https://olympics.com/en/athletes/belorukova,Yulia Stupak,2,PyeongChang 2018,1995
1843,https://olympics.com/en/athletes/geiger-1,Vinzenz Geiger,2,PyeongChang 2018,1997
3042,https://olympics.com/en/athletes/mariana-pajon,Mariana PajÃ³n,3,London 2012,1991
7662,https://olympics.com/en/athletes/geiger-1,Vinzenz Geiger,2,PyeongChang 2018,1997
8175,https://olympics.com/en/athletes/belorukova,Yulia Belorukova,2,PyeongChang 2018,1995
8192,https://olympics.com/en/athletes/mariana-pajon,Mariana Pajon,3,London 2012,1991
68135,https://olympics.com/en/athletes/martin-bidar,Martin BidaÅ™,2,PyeongChang 2018,1999
69063,https://olympics.com/en/athletes/martin-bidar,Martin Bidar,2,PyeongChang 2018,1999

In [853]:
olympic_athletes_df = olympic_athletes_df.drop_duplicates(subset=["athlete_url"], keep=False)
olympic_athletes_df

,athlete_url,athlete_full_name,games_participations,first_game,athlete_year_birth
0,https://olympics.com/en/athletes/cooper-woods-...,Cooper Woods-Topalovic,1,Beijing 2022,2000
1,https://olympics.com/en/athletes/elofsson,Felix Elofsson,2,PyeongChang 2018,1995
2,https://olympics.com/en/athletes/dylan-walczyk,Dylan Walczyk,1,Beijing 2022,1993
3,https://olympics.com/en/athletes/olli-penttala,Olli Penttala,1,Beijing 2022,1995
4,https://olympics.com/en/athletes/reikherd,Dmitriy Reikherd,1,Beijing 2022,1989
...,...,...,...,...,...
75899,https://olympics.com/en/athletes/douglas-weigle,Douglas Weigle,1,Innsbruck 1976,1955
75900,https://olympics.com/en/athletes/stefania-bertele,Stefania Bertele,1,Innsbruck 1976,1957
75901,https://olympics.com/en/athletes/walter-cecconi,Walter Cecconi,1,Innsbruck 1976,1957
75902,https://olympics.com/en/athletes/susan-kelley,Susan Kelley,1,Innsbruck 1976,1954
75903,https://olympics.com/en/athletes/andrew-stroukoff,Andrew Stroukoff,1,Innsbruck 1976,1960

In [854]:
olympic_athletes_df['first_game'] = olympic_athletes_df['first_game'].str.replace(' ','-')

/var/folders/8w/ffbmg1l958n0dtswfb_xw04c0000gn/T/ipykernel_1638/3689170904.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  olympic_athletes_df['first_game'] = olympic_athletes_df['first_game'].str.replace(' ','-')

In [855]:
olympic_athletes_df

,athlete_url,athlete_full_name,games_participations,first_game,athlete_year_birth
0,https://olympics.com/en/athletes/cooper-woods-...,Cooper Woods-Topalovic,1,Beijing-2022,2000
1,https://olympics.com/en/athletes/elofsson,Felix Elofsson,2,PyeongChang-2018,1995
2,https://olympics.com/en/athletes/dylan-walczyk,Dylan Walczyk,1,Beijing-2022,1993
3,https://olympics.com/en/athletes/olli-penttala,Olli Penttala,1,Beijing-2022,1995
4,https://olympics.com/en/athletes/reikherd,Dmitriy Reikherd,1,Beijing-2022,1989
...,...,...,...,...,...
75899,https://olympics.com/en/athletes/douglas-weigle,Douglas Weigle,1,Innsbruck-1976,1955
75900,https://olympics.com/en/athletes/stefania-bertele,Stefania Bertele,1,Innsbruck-1976,1957
75901,https://olympics.com/en/athletes/walter-cecconi,Walter Cecconi,1,Innsbruck-1976,1957
75902,https://olympics.com/en/athletes/susan-kelley,Susan Kelley,1,Innsbruck-1976,1954
75903,https://olympics.com/en/athletes/andrew-stroukoff,Andrew Stroukoff,1,Innsbruck-1976,1960

In [856]:
olympic_athletes_df

,athlete_url,athlete_full_name,games_participations,first_game,athlete_year_birth
0,https://olympics.com/en/athletes/cooper-woods-...,Cooper Woods-Topalovic,1,Beijing-2022,2000
1,https://olympics.com/en/athletes/elofsson,Felix Elofsson,2,PyeongChang-2018,1995
2,https://olympics.com/en/athletes/dylan-walczyk,Dylan Walczyk,1,Beijing-2022,1993
3,https://olympics.com/en/athletes/olli-penttala,Olli Penttala,1,Beijing-2022,1995
4,https://olympics.com/en/athletes/reikherd,Dmitriy Reikherd,1,Beijing-2022,1989
...,...,...,...,...,...
75899,https://olympics.com/en/athletes/douglas-weigle,Douglas Weigle,1,Innsbruck-1976,1955
75900,https://olympics.com/en/athletes/stefania-bertele,Stefania Bertele,1,Innsbruck-1976,1957
75901,https://olympics.com/en/athletes/walter-cecconi,Walter Cecconi,1,Innsbruck-1976,1957
75902,https://olympics.com/en/athletes/susan-kelley,Susan Kelley,1,Innsbruck-1976,1954
75903,https://olympics.com/en/athletes/andrew-stroukoff,Andrew Stroukoff,1,Innsbruck-1976,1960

In [857]:
olympic_athletes_df.isna().sum()

athlete_url             0
athlete_full_name       0
games_participations    0
first_game              0
athlete_year_birth      0
dtype: int64

In [858]:
olympic_hosts_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53 entries, 0 to 52
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   game_slug        53 non-null     object
 1   game_end_date    53 non-null     object
 2   game_start_date  53 non-null     object
 3   game_location    53 non-null     object
 4   game_name        53 non-null     object
 5   game_season      53 non-null     object
 6   game_year        53 non-null     int64
dtypes: int64(1), object(6)
memory usage: 3.0+ KB

In [859]:
olympic_hosts_df.isna().sum()

game_slug          0
game_end_date      0
game_start_date    0
game_location      0
game_name          0
game_season        0
game_year          0
dtype: int64

In [860]:
olympic_hosts_df['game_name'] = olympic_hosts_df['game_name'].str.replace(' ','-')

In [861]:
olympic_hosts_df = olympic_hosts_df.drop(columns=['game_slug', 'game_end_date', 'game_start_date'])

In [862]:
olympic_hosts_df['game_name'] = olympic_hosts_df['game_name'].str.replace(' ','-')

In [863]:
olympic_hosts_df

,game_location,game_name,game_season,game_year
0,China,Beijing-2022,Winter,2022
1,Japan,Tokyo-2020,Summer,2020
2,Republic of Korea,PyeongChang-2018,Winter,2018
3,Brazil,Rio-2016,Summer,2016
4,Russian Federation,Sochi-2014,Winter,2014
5,Great Britain,London-2012,Summer,2012
6,Canada,Vancouver-2010,Winter,2010
7,China,Beijing-2008,Summer,2008
8,Italy,Turin-2006,Winter,2006
9,Greece,Athens-2004,Summer,2004
10,United States,Salt-Lake-City-2002,Winter,2002
11,Australia,Sydney-2000,Summer,2000
12,Japan,Nagano-1998,Winter,1998
13,United States,Atlanta-1996,Summer,1996
14,Norway,Lillehammer-1994,Winter,1994
15,Spain,Barcelona-1992,Summer,1992
16,France,Albertville-1992,Winter,1992
17,Republic of Korea,Seoul-1988,Summer,1988
18,Canada,Calgary-1988,Winter,1988
19,United States,Los-Angeles-1984,Summer,1984
20,Yugoslavia,Sarajevo-1984,Winter,1984
21,USSR,Moscow-1980,Summer,1980
22,United States,Lake-Placid-1980,Winter,1980
23,Canada,Montreal-1976,Summer,1976
24,Austria,Innsbruck-1976,Winter,1976
25,Federal Republic of Germany,Munich-1972,Summer,1972
26,Japan,Sapporo-1972,Winter,1972
27,Mexico,Mexico-City-1968,Summer,1968
28,France,Grenoble-1968,Winter,1968
29,Japan,Tokyo-1964,Summer,1964
30,Austria,Innsbruck-1964,Winter,1964
31,Italy,Rome-1960,Summer,1960
32,United States,Squaw-Valley-1960,Winter,1960
33,"Australia, Sweden",Melbourne-1956,Summer,1956
34,Italy,Cortina-d'Ampezzo-1956,Winter,1956
35,Finland,Helsinki-1952,Summer,1952
36,Norway,Oslo-1952,Winter,1952
37,Great Britain,London-1948,Summer,1948
38,Switzerland,St.-Moritz-1948,Winter,1948
39,Germany,Berlin-1936,Summer,1936
40,Germany,Garmisch-Partenkirchen-1936,Winter,1936
41,United States,Los-Angeles-1932,Summer,1932
42,United States,Lake-Placid-1932,Winter,1932
43,Netherlands,Amsterdam-1928,Summer,1928
44,Switzerland,St.-Moritz-1928,Winter,1928
45,France,Paris-1924,Summer,1924
46,France,Chamonix-1924,Winter,1924
47,Belgium,Antwerp-1920,Summer,1920
48,Sweden,Stockholm-1912,Summer,1912
49,Great Britain,London-1908,Summer,1908
50,United States,St.-Louis-1904,Summer,1904
51,France,Paris-1900,Summer,1900
52,Greece,Athens-1896,Summer,1896

In [864]:
olympic_medals_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21697 entries, 0 to 21696
Data columns (total 12 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   discipline_title       21697 non-null  object
 1   slug_game              21697 non-null  object
 2   event_title            21697 non-null  object
 3   event_gender           21697 non-null  object
 4   medal_type             21697 non-null  object
 5   participant_type       21697 non-null  object
 6   participant_title      6584 non-null   object
 7   athlete_url            17027 non-null  object
 8   athlete_full_name      18073 non-null  object
 9   country_name           21697 non-null  object
 10  country_code           20195 non-null  object
 11  country_3_letter_code  21697 non-null  object
dtypes: object(12)
memory usage: 2.0+ MB

In [865]:
olympic_medals_df = olympic_medals_df.drop(columns=['country_code', 'country_3_letter_code', 'participant_title', 'athlete_url'])

In [866]:
olympic_medals_df

,discipline_title,slug_game,event_title,event_gender,medal_type,participant_type,athlete_full_name,country_name
0,Curling,beijing-2022,Mixed Doubles,Mixed,GOLD,GameTeam,Stefania CONSTANTINI,Italy
1,Curling,beijing-2022,Mixed Doubles,Mixed,GOLD,GameTeam,Amos MOSANER,Italy
2,Curling,beijing-2022,Mixed Doubles,Mixed,SILVER,GameTeam,Kristin SKASLIEN,Norway
3,Curling,beijing-2022,Mixed Doubles,Mixed,SILVER,GameTeam,Magnus NEDREGOTTEN,Norway
4,Curling,beijing-2022,Mixed Doubles,Mixed,BRONZE,GameTeam,Almida DE VAL,Sweden
...,...,...,...,...,...,...,...,...
21692,Weightlifting,athens-1896,heavyweight - one hand lift men,Men,SILVER,Athlete,Viggo JENSEN,Denmark
21693,Weightlifting,athens-1896,heavyweight - one hand lift men,Men,BRONZE,Athlete,Alexandros Nikolopoulos,Greece
21694,Weightlifting,athens-1896,heavyweight - two hand lift men,Men,GOLD,Athlete,Viggo JENSEN,Denmark
21695,Weightlifting,athens-1896,heavyweight - two hand lift men,Men,SILVER,Athlete,Launceston ELLIOT,Great Britain
21696,Weightlifting,athens-1896,heavyweight - two hand lift men,Men,BRONZE,Athlete,Sotirios VERSIS,Greece

In [867]:
olympic_medals_df.isna().sum()

discipline_title        0
slug_game               0
event_title             0
event_gender            0
medal_type              0
participant_type        0
athlete_full_name    3624
country_name            0
dtype: int64

In [868]:
olympic_medals_df.dropna(inplace=True)

In [869]:
olympic_medals_df.isna().sum()

discipline_title     0
slug_game            0
event_title          0
event_gender         0
medal_type           0
participant_type     0
athlete_full_name    0
country_name         0
dtype: int64

In [870]:
olympic_medals_df['slug_game'] = olympic_medals_df.slug_game.str.capitalize()

In [871]:
olympic_medals_df['medal_type'] = olympic_medals_df['medal_type'].apply(lambda x:x.lower())
olympic_medals_df['medal_type'] = olympic_medals_df.medal_type.str.capitalize()
olympic_medals_df['participant_type'] = olympic_medals_df['participant_type'].astype(str).str.replace('GameTeam', 'Game Team')

In [872]:
olympic_medals_df['event_title'] = olympic_medals_df.event_title.str.capitalize()
olympic_medals_df['athlete_full_name'] = olympic_medals_df.athlete_full_name.str.title()

In [873]:
olympic_medals_df

,discipline_title,slug_game,event_title,event_gender,medal_type,participant_type,athlete_full_name,country_name
0,Curling,Beijing-2022,Mixed doubles,Mixed,Gold,Game Team,Stefania Constantini,Italy
1,Curling,Beijing-2022,Mixed doubles,Mixed,Gold,Game Team,Amos Mosaner,Italy
2,Curling,Beijing-2022,Mixed doubles,Mixed,Silver,Game Team,Kristin Skaslien,Norway
3,Curling,Beijing-2022,Mixed doubles,Mixed,Silver,Game Team,Magnus Nedregotten,Norway
4,Curling,Beijing-2022,Mixed doubles,Mixed,Bronze,Game Team,Almida De Val,Sweden
...,...,...,...,...,...,...,...,...
21692,Weightlifting,Athens-1896,Heavyweight - one hand lift men,Men,Silver,Athlete,Viggo Jensen,Denmark
21693,Weightlifting,Athens-1896,Heavyweight - one hand lift men,Men,Bronze,Athlete,Alexandros Nikolopoulos,Greece
21694,Weightlifting,Athens-1896,Heavyweight - two hand lift men,Men,Gold,Athlete,Viggo Jensen,Denmark
21695,Weightlifting,Athens-1896,Heavyweight - two hand lift men,Men,Silver,Athlete,Launceston Elliot,Great Britain
21696,Weightlifting,Athens-1896,Heavyweight - two hand lift men,Men,Bronze,Athlete,Sotirios Versis,Greece

In [874]:
olympic_athletes_df.to_csv('olympic_athletes_df.csv')
olympic_hosts_df.to_csv('olympic_hosts_df.csv')
olympic_medals_df.to_csv('olympic_medals_df.csv')